@charset "UTF-8";
/*Обнуление CSS*/
* {
  padding: 0px;
  margin: 1px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*Конец обнуления CSS*/
.content {
  width: 1450px;
  height: 1705px;
  margin: 0 auto;
  background-color: #e8e8e8;
  background-image: url(../img/ellipse_1_copy_4.png);
  background-repeat: no-repeat;
  background-position: 142px 106px;
}
.content .header {
  height: 358px;
  padding-top: 130px;
  text-align: center;
}
.content .header .title-1 {
  opacity: 0.6;
  font-family: Arial;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #273d46;
}
.content .header .title-2 {
  font-family: "Times New Roman";
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
  color: #273d46;
  width: 722px;
  text-align: center;
  margin: 0 auto;
}
.content .img {
  width: 841px;
  height: 561px;
  margin: 0 auto;
  background-color: #e8e8e8;
  -webkit-box-shadow: 0px 15px 65px 0px;
          box-shadow: 0px 15px 65px 0px;
  padding: 10px;
}
.content .info {
  height: 791px;
}
.content .info .info__text {
  width: 750px;
  height: 130px;
  font-family: "Times New Roman";
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
  color: #273d46;
  opacity: 0.8;
  margin-left: 330px;
}
.content .info .info__text:first-of-type {
  margin-top: 96px;
}
.content .info .info__text:last-of-type {
  margin-top: 66px;
  margin-bottom: 62px;
}
.content .info .info__lines {
  height: 145px;
  width: 465px;
  margin-left: 330px;
}
.content .info .info__lines p:nth-child(1) {
  font-family: Arial;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  color: #273d46;
}
.content .info .info__lines p:nth-child(2) {
  font-family: Arial;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  font-style: italic;
  color: #80b7b3;
}
.content .info .info__lines p:nth-child(3) {
  font-family: Arial;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #273d46;
}
.content .info .info__lines p:nth-child(4) {
  font-family: Arial;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  text-decoration: line-through;
  color: #afb5b8;
}
.content .info .info__lines p {
  background-image: url(../img/check_icon.png);
  background-position: 0px 10px;
  background-repeat: no-repeat;
  padding-left: 36px;
}
.content .info .knopka {
  width: 199px;
  height: 44px;
  background-color: #80b7b3;
  margin-left: 330px;
  margin-top: 59px;
  border-radius: 30px;
  font-family: Arial;
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  padding-left: 33px;
  background-image: url(../img/shape_2_9.png);
  background-repeat: no-repeat;
  background-position: 155px 12px;
}
.content .info .knopka .strelka {
  margin-top: 30px;
}