@import "clean-style.scss";
.content {
  width: 1450px;
  height: 1705px;
  margin: 0 auto;
  background-color: #e8e8e8;
  .header {
    height: 358px;
    padding-top: 130px;

    text-align: center;
    .title-1 {
      opacity: 0.6;
      font-family: Arial;
      line-height: 40px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      color: #273d46;
    }
    .title-2 {
      font-family: "Times New Roman";
      font-size: 36px;
      line-height: 50px;
      font-weight: 400;
      color: #273d46;
      width: 722px;
      text-align: center;
      margin: 0 auto;
    }
  }
  .img {
    width: 841px;
    height: 561px;
    margin: 0 auto;
    background-color: #e8e8e8;
    box-shadow: 0px 15px 65px 0px;
    padding: 10px;
  }
  .info {
    height: 791px;
    border: 1px solid #000;

    .info__text {
      width: 750px;
      height: 130px;
      font-family: "Times New Roman";
      font-size: 24px;
      line-height: 40px;
      font-weight: 400;
      color: #273d46;
      opacity: 0.8;
      margin-left: 330px;
      &:first-of-type {
        margin-top: 96px;
      }
      &:last-of-type {
        margin-top: 66px;
        margin-bottom: 62px;
      }
    }
    .info__lines {
      height: 145px;
      width: 465px;
      margin-left: 330px;

      & p:nth-child(1) {
        font-family: Arial;
        font-size: 20px;
        line-height: 36px;
        font-weight: 400;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
        color: #273d46;
      }
      & p:nth-child(2) {
        font-family: Arial;
        font-size: 20px;
        line-height: 36px;
        font-weight: 400;
        font-style: italic;
        color: #80b7b3;
      }
      & p:nth-child(3) {
        font-family: Arial;
        font-size: 20px;
        line-height: 36px;
        font-weight: 700;
        color: #273d46;
      }
      & p:nth-child(4) {
        font-family: Arial;
        font-size: 20px;
        line-height: 36px;
        font-weight: 400;
        text-decoration: line-through;
        color: #afb5b8;
      }
      & p {
        background-image: url(../img/check_icon.png);
        background-position: 0px 10px;
        background-repeat: no-repeat;
        padding-left: 36px;
      }
    }
  }
}
